@import "tailwindcss";

@theme {
  --color-accent: #141c28;
  --color-accent-dark: #9db4d4;
  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  @apply bg-white text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300;
  font: 16px/145% var(--font-sans);
}
